.chart-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 75%;
    height:250px ;
}
.summary-container {
    display: flex;
    justify-content: center;
    height: 200px ;
    width: 60%;
}
.countryFlag{
    align-self: center;
    margin-top: 600px;
}
@media (max-width: 770px) {
    .chart-container {
        width: 100%;
    }
    
}