body{
  background-color: rgb(238, 238, 238);
  font-family: 'Lato', sans-serif;
  margin:0;
  padding: 0;
}
.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image{
  margin: 50px 0;
  width: 370px;
}

@media (max-width: 770px){
  .main-container{
    margin: 0 10%; 
  }

  .image {
    width: 100%;
  }
}